h1 {
	font-weight: bold;
}

#custom-catalog-content {
	box-shadow: 2px 2px 2px 2px rgb(77 77 77 / 30%);
  margin-bottom: 3rem;

}

#custom-item-type-header{
  margin-bottom: 1rem;
}

#catalog-item-details{
  margin-bottom: 2rem;
}

#automationclick {
  background-color: white;
  color: #185a7d;
  font-weight: bold;
}

.automation-template {
    text-align: right;
    margin: 10px 0;
}

.pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#custom-item-desc {
	margin-left: 0px;
}